.access {
    background: $secondary-color;
    color: $neutral-primary;
    .flex {
        display: flex;
        justify-content: space-between;
        align-content: center;
        & >:first-child {
            width: 42%;
        }
    }
    .get_started {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        input {
            line-height: 2rem;
        }
        a {
            width: 50%;
            text-decoration: none;
            margin-top: 1rem;
        }
    }
}