// Variables
$primary-color:hsl(243,87%,12%);
$secondary-color: hsl(238,22%,44%);
$accent-primary: hsl(224,93%,58%);
$accent-secondary:hsl(170,45%,43%);
$neutral-primary: hsl(240,75%,98%);
$neutral-secondary: hsl(0,0%,75%);

$font-family-heading: 'Raleway', sans-serif;
$font-family-body: 'Open Sans', sans-serif;

